<div class="mt-3">
    <div class="text-center">
        <h1>Bem vindo(a)</h1>
    </div>
    <div class="imagem-capa mb-3">
        <img class="capa col-md-12" src="../../assets/sorveteria.jpg" alt="">
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-3">
      <div class="card h-100">
        <img src="../../assets/Fabricante.jpg" class="card-img-top imagem" alt="...">
        <div class="card-body">
            <h2 class="card-title text-center">Fabricante</h2>
          <p class="card-text text-center">Gerenciamento de fabricantes.</p>
          <div class="text-center">
            <a [routerLink]="['/fabricante']" class="btn btn-outline-primary">Ir para Fabricantes</a>
          </div>   
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card h-100">
        <img src="../../assets/sorvete.jpg" class="card-img-top imagem" alt="...">
        <div class="card-body">
            <h2 class="card-title text-center">Sorvete</h2>
          <p class="card-text text-center">Gerenciamento de sorvetes.</p>
          <div class="text-center">
            <a [routerLink]="['/sorvete']" class="btn btn-outline-success">Ir para Sorvetes</a>
          </div>   
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card h-100">
        <img src="../../assets/sabores.jpg" class="card-img-top imagem" alt="...">
        <div class="card-body">
            <h2 class="card-title text-center">Sabor</h2>
          <p class="card-text text-center">Gerenciamento de sabores.</p>
          <div class="text-center">
            <a [routerLink]="['/sabores']" class="btn btn-outline-warning">Ir para Sabores</a>
          </div>   
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card h-100">
        <img src="../../assets/Vendas.jpg" class="card-img-top imagem" alt="...">
        <div class="card-body">
            <h2 class="card-title text-center">Venda</h2>
          <p class="card-text text-center">Realização de vendas.</p>
          <div class="text-center">
            <a [routerLink]="['/vendas']" class="btn btn-outline-info">Ir para Vendas</a>
          </div>          
        </div>
      </div>
    </div>
  </div>