<h2 class="text-center text-center">Fabricantes</h2>

<div class="form-group row">
    <form [formGroup]="cadastro">
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            style="font-weight: bold; font-size: 25px"
            >Buscar:</label
          >
      
          <div class="col-sm-7">
            <input formControlName="nome" class="form-control" />
          </div>
      
          <div class="col-sm-1">      
            <button (click)="filtrar()" mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>search</mat-icon>
            </button>
          </div>
      
          <div class="col-sm-1">
            <button (click)="limpar()" mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
      
          <div class="col-sm-1">
            <a [routerLink]="['novo']" class="btn btn-success criar">Criar</a>
          </div>
        </div>
      </form>

</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Contato</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fabri of fabricantes">
            <td>{{fabri.id}}</td>
            <td>{{fabri.nome}}</td>
            <td>{{fabri.contato}}</td>
            <td>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>menu</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="edit(fabri.id)">
                      <mat-icon>info</mat-icon>
                      <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="modalDelete(fabri)">
                        <mat-icon>delete</mat-icon>
                        <span>Excluir</span>
                      </button>
                  </mat-menu>
            </td>
        </tr>
    </tbody>
</table>
