<h2 class="text-center text-center">Sorvete</h2>

<div class="form-group row">
  <label
    class="col-sm-2 col-form-label"
    style="font-weight: bold; font-size: 25px"
    >Buscar:</label
  >

  <div class="col-sm-9">
    <input class="form-control" />
  </div>
  <div class="col-sm-1">
    <a
      [routerLink]="['novo']"
      class="btn btn-success"
      style="width: 82px; height: 38px"
      >Criar</a
    >
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sabor</th>
      <th>Valor</th>
      <th>Valor de Fábrica</th>
      <th>Data da Compra</th>
      <th>Data da Validade</th>
      <th>Fabricante</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sorv of sorvete">
      <td>{{ sorv.nome | titlecase}}</td>
      <td>{{ sorv.sabor | titlecase}}</td>
      <td>{{ sorv.valor | currency:"R$ " }}</td>
      <td>{{ sorv.valorFabrica | currency:"R$ "}}</td>
      <td>{{ sorv.dtCompra | date:"dd/MM/YYYY" }}</td>
      <td>{{ sorv.dtValidade | date:"dd/MM/YYYY"}}</td>
      <td>{{ sorv.fabricante.nome }}</td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(sorv.id)">
            <mat-icon>info</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="modalDelete(sorv)">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
        </mat-menu>
    </tr>
  </tbody>
</table>
