<div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title titulo">Novo Sabor</h2>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="onClose()"
      ></button>
    </div>
    
    <form class="form-group row" [formGroup]="modal">
      <label class="col-sm-2 col-form-label sabor">Sabor</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName=nome type="text" placeholder="Novo sabor">
    </div>
    </form>
      

    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="salvar()">
        Adicionar
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        (click)="onClose()"
      >Cancelar
      </button>
    </div>
  </div>